.center_title {
  background-color: #f5f6fa;
  padding: 0.6rem;
  border-radius: 10px 10px 0px 0px;
  margin-block: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}
.title {
  border-radius: 10px;
}
.data {
  background-color: #f5f6fa;
  padding: 0.6rem;
  margin-bottom: 2px;
  cursor: pointer;
}
.town__center {
  padding-bottom: 1rem;
  font-size: 14px;
  .data_center {
    background-color: white;
    box-shadow: 0px 0px 3px 3px rgba(111, 111, 117, 0.2);
    padding: 0.6rem;

    strong {
      font-weight: 700;
    }
    .separate {
      margin-bottom: 1rem;
    }
  }
  .quarter {
    background-color: #00a2dd;
    color: #f5f6fa;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 10px 10px 0px 0px;
  }
}
.total_stat {
  display: flex;
  align-items: center;
  .stat_enrolement {
    p:nth-child(2) {
      color: #6f767e;
      font-weight: 700;
    }
  }
}
.separate {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
form {
  flex: 0.3;
  display: flex;
  padding: 0.1rem !important;
  margin: 0.5rem 1rem 0rem !important;
  height: 40px !important;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  font-size: 12px;

  input {
    width: 250px;
    border: 1px solid #dcdcdc;
    font-weight: 500;
    background: #f5f6fa;
    padding: 0.3rem;
    color: #6f767e;
    font-size: 16px;
    border-radius: 10px 0px 0px 10px;

    &:focus {
      outline: none;
    }
  }

  button {
    padding: 0 1rem;
    color: #f5f6fa;
    background: #00a2dd;
    border: none;
    border-radius: 0px 10px 10px 0px;
    &:focus {
      border: none;
    }
  }
}
.form-select {
  padding: 0.5rem 4rem;
}
