.center_title {
  background-color: #f5f6fa;
  padding: 0.6rem;
  border-radius: 10px 10px 0px 0px;
  margin-block: 20px;
  text-align: center;
}
.title {
  border-radius: 10px;
}
.data {
  background-color: #f5f6fa !important;
  padding: 0.6rem;
  margin-bottom: 2px;
  cursor: pointer;
}
.town__center {
  padding-bottom: 1rem;
  .data_center {
    background-color: white;
    box-shadow: 0px 0px 3px 3px rgba(111, 111, 117, 0.2);
    padding: 0.6rem;

    strong {
      font-weight: 700;
    }
    .separate {
      margin-bottom: 1rem;
    }
  }
  .quarter {
    background-color: #00a2dd;
    color: #f5f6fa;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 10px 10px 0px 0px;
  }
}
.total_stat {
  display: flex;
  align-items: center;
  .stat_enrolement {
    p:nth-child(2) {
      color: #6f767e;
      font-weight: 700;
    }
  }
}
