/*$text-color: #6F767E;
$blue-color:#00A2DD;
$primary-color: #F5F6FA;
$secondary-color:#FFFFFF;
$black-color:#333333;
*/
.textes {
  justify-content: center;
  margin-bottom: 2rem;
  h3 {
    font-size: 1.1rem;
    font-weight: 300;
    span {
      background-color: #d7f5e7;
      padding: 5px;
      font-weight: 500;
    }
    a {
      text-decoration: none;
      color:#6F767E;
      &:hover {
        color: #00A2DD;
      }
    }
  }
  a {
    text-decoration: none;
    color: #6F767E;
    &:hover {
      color: #00A2DD;
    }
  }
  &__banner {
    background-color: #00A2DD;
    width: 65%;
    margin: 1rem auto 2rem !important;
    padding: 0.7rem;
    align-items: center;
    border-radius: 40px;
    color: #FFFFFF;
    opacity: 0.7;
    box-shadow: 0px 0px 10px 10px rgba(50, 50, 230, 0.185);

    img {
      width: 150px;
      height: 150px;
      opacity: 1;
    }
  }
  form {
    flex: 0.3;
    display: flex;
    padding: 0.1rem;
    margin: 0 3rem;
    height: 35px;
    border-radius: 8px;
    border: none;
    background-color: #F5F6FA;

    input {
      width: 100%;
      border: 1px solid #dcdcdc;
      font-weight: 500;
      background:#FFFFFF;
      padding: 0.3rem;
      color: #6F767E;
      font-size: 16px;
      border-radius: 10px 0px 0px 10px;

      &:focus {
        outline: none;
      }
    }

    button {
      padding: 0 1rem;
      color: #F5F6FA;
      background:#00A2DD;
      border: none;
      border-radius: 0px 10px 10px 0px;
      &:focus {
        border: none;
      }
    }
  }
  &__design {
    .card_texte {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.160784);
      min-height: 235px;
      padding-block: 1rem;
      text-align: center;
      .line {
        border: 1px solid #c9c9c9;
        width: 80%;
        margin-block: 0.6rem;
      }
      img {
        width: 90px;
      }
    }
  }
  &__card {
    width: 100%;
    min-height: 290px;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 10px 5px rgba(85, 83, 83, 0.205);

    .bottom_left {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      opacity: 0.89;
      background-color: #333333;
      .title__news {
        font-size: 1rem;
      }
      p {
        font-size: 0.8rem;
        margin-bottom: 0;
      }
    }
    img {
      width: 100%;
    }
    .social_link {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  .title {
    background-color:#FFFFFF;
    padding: 0.6rem;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 20px;
    color: #00A2DD;
  }
  .news__read {
    img {
      width: 100%;
      height: 600px;
      object-fit: cover;
    }
  }
  &__card1 {
    width: 100%;
    min-height: 200px;
    margin-bottom: 1rem;
    .bottom_left {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      opacity: 0.89;
      background-color:#333333;
      .title_info {
        font-size: 1rem;
      }
      p {
        font-size: 0.8rem;
        margin: 0;
      }
    }
    img {
      width: 100%;
    }
    .social_link {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
.center {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.download {
  background-color:#00A2DD;
}
.accord p {
  padding-top: 3rem;
}
h1 {
  font-weight: 500;
  font-size: 25px !important;
  display: table;
  padding-bottom: 10px;
  padding-top: 15px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
h1:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  right: 25%;
  border-bottom: 2px solid #00a2dd;
}
Button {
  position: relative;
  float: right;
}
